script(type='text/javascript', src='javascripts/donation.js')
h1 Donation screen
p You are seeing this page because you chose to donate your web browser to a long running computation, the computation is running in the background.. if you choose to leave this page the donation will be over... thanks
