script(type='text/javascript', src='javascripts/worker.js')
h1 Thank you! Now you are a part of the gridjs. 

h2 Please, do not close this tab, computations are running on the background…
div#status.idle idle z-z-z….
button#pause pause
