!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.6.2.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
  body
    div#wrapper
       div#header.container
         div#logo
              h1
               a(href="#") gridjs 
       div#page
          div#content
             div#post
              != body
           div#sidebar
             ul
               li 
                  a(href="#") submit a job
               li
                  a(href="#") jobs status
               li 
                  a(href='/joingrid') join gridjs
     div(style='clear: both;') &nbsp
     div#footer-content
       div#footer-bg.container
          div#column1 Random Bytes, NKO 2011
